In [35]:
from langchain_community.utilities import SQLDatabase

# if you are using MySQL
mysql_uri = 'mysql+mysqlconnector://user:root@localhost/port:3306/password:newpassword/practice'
sqlite_uri = 'sqlite:///C:/Users/user/Downloads/mydatabase.db' 
db = SQLDatabase.from_uri(sqlite_uri)

In [9]:
db.get_usable_table_names()

['author', 'book', 'users']

In [6]:
db.dialect

'sqlite'

In [7]:
db.run("INSERT INTO users (name, email) VALUES ('Jimmy Hendrix', 'jimmy@example.com')")

''

In [8]:
db.run("SELECT * FROM users;")

"[(1, 'John Doe', 'john@example.com'), (2, 'Jimmy Hendrix', 'jimmy@example.com')]"

In [ ]:
DATABASE_URL = 'mysql+mysqlconnector://user:newpassword@localhost:3306/practice'
my_db = SQLDatabase.from_uri(DATABASE_URL)

In [5]:
db.run("""create table author (author_id integer primary key, 
                            authorName varchar(30), 
                            email varchar (25), gender varchar (6));""")

''

In [6]:
db.run("""create table book (BookId integer not null unique, 
                        ISBN integer primary key, 
                       book_name varchar (30) not null, 
                        author integer, ed_num integer, 
                      price integer, pages integer, 
         foreign key (author) references author (author_id) on delete cascade);""")

''

In [8]:
queries = [
    """
    insert into author values 
    (1, "Kraig Muller", "Wordnewton@gmail.com", "Male");
    """,
    """
    insert into author values
    (2, "Karrie Nicolette", "karrie23@gmail.com", "Female");
    """,
    """
    insert into book values
    (1, 001, "Glimpses of the past", 1, 1, 650, 396);
    """,
    """
    insert into book values
    (2, 002, "Beyond The Horizons of Venus", 1, 1, 650, 396);
    """,
    """
    insert into book values
    (3, 003, "Ultrasonic Aquaculture", 2, 1, 799, 500);
    """,
    """
    insert into book values
    (4, 004, "Cryogenic Engines", 2, 1, 499, 330); 
    """
]
for query in queries:
    db.run(query)

In [10]:
db.run("select *from book")

"[(1, 1, 'Glimpses of the past', 1, 1, 650, 396), (2, 2, 'Beyond The Horizons of Venus', 1, 1, 650, 396), (3, 3, 'Ultrasonic Aquaculture', 2, 1, 799, 500), (4, 4, 'Cryogenic Engines', 2, 1, 499, 330)]"

In [29]:
db.run("SELECT COUNT(book_name) AS count_book FROM book")

'[(4,)]'

In [12]:
!pip install -qU langchain-openai langgraph

In [36]:
import os, getpass

def _set_env(var: str):
    # Check if the variable is set in the OS environment
    env_value = os.environ.get(var)
    if not env_value:
        # If not set, prompt the user for input
        env_value = getpass.getpass(f"{var}: ")
    
    # Set the environment variable for the current process
    os.environ[var] = env_value

In [3]:
_set_env("OPENAI_API_KEY")

OPENAI_API_KEY:  ········

In [37]:
_set_env("LANGCHAIN_API_KEY")
os.environ["LANGCHAIN_TRACING_V2"] = "true"
os.environ["LANGCHAIN_PROJECT"] = "langchain-academy"

In [38]:
from langsmith import utils
utils.tracing_is_enabled()

False

In [39]:
from langchain_openai import ChatOpenAI
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0)
llm.invoke('tell me a joke about beeets')

AIMessage(content="Why did the beet get kicked out of the garden?\n\nBecause it couldn't stop beet-ing around the bush!", additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 21, 'prompt_tokens': 14, 'total_tokens': 35, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_0705bf87c0', 'finish_reason': 'stop', 'logprobs': None}, id='run-dc07409c-1ec7-4f4f-8c0c-d1d74af552c0-0', usage_metadata={'input_tokens': 14, 'output_tokens': 21, 'total_tokens': 35, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}})

In [22]:
!pip install -qU langchain-anthropic

In [5]:
_set_env("ANTHROPIC_API_KEY")

ANTHROPIC_API_KEY:  ········

In [6]:
from langchain_anthropic import ChatAnthropic
from langchain_core.prompts import PromptTemplate

template = """Question: {question}

Answer: Let's think step by step."""

prompt = PromptTemplate.from_template(template)

model = ChatAnthropic(model="claude-3-5-sonnet-20240620")

chain = prompt | model

chain.invoke({"question": "tell me a joke about beets"})

AIMessage(content='Alright, I\'ll come up with a joke about beets by following these steps:\n\n1. Think about the characteristics of beets:\n   - They\'re root vegetables\n   - They have a deep red color\n   - They can stain things easily\n   - They\'re often used in salads or soups\n   - Some people love them, others hate them\n\n2. Consider potential wordplay or puns:\n   - "Beat" sounds like "beet"\n   - "Red" could be used for a play on words\n\n3. Think about a situation involving beets that could be humorous:\n   - Maybe someone mistaking beets for something else\n   - Or a situation where beets cause an unexpected problem\n\n4. Craft the joke:\n\nHere\'s the joke I came up with:\n\nWhy did the beet turn red?\nBecause it saw the salad dressing!\n\nThis joke plays on the fact that beets are already red, and uses the phrase "turn red" which usually means to blush from embarrassment. The punchline creates a silly image of a beet being embarrassed by seeing salad dressing, as if it were undressed.', additional_kwargs={}, response_metadata={'id': 'msg_01QvwCUHfAbHfLaeJa9wHjzQ', 'model': 'claude-3-5-sonnet-20240620', 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 26, 'output_tokens': 258}}, id='run-34d7708a-70b6-4b9f-8986-6287f75a8822-0', usage_metadata={'input_tokens': 26, 'output_tokens': 258, 'total_tokens': 284, 'input_token_details': {}})

In [27]:
!python --version

Python 3.11.7

In [10]:
from langchain.chains import create_sql_query_chain

chain2 = create_sql_query_chain(llm, db)
response = chain2.invoke({"question": "How many books are there"})
response

'SQLQuery: SELECT COUNT(*) AS "total_books" FROM book;'

In [17]:
response=response.strip("SQLQuery:")
response

' SELECT COUNT(*) AS "total_books" FROM book;'

In [18]:
db.run(response)

'[(4,)]'

In [23]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

C:\Users\user\anaconda3\Lib\site-packages\langsmith\client.py:241: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

['dialect', 'top_k']

In [24]:
system_message = prompt_template.format(dialect="SQLite", top_k=5)

In [25]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [46]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(
    llm, toolkit.get_tools(), state_modifier=system_message
)

In [47]:
from langchain_core.messages import trim_messages
from langgraph.checkpoint.memory import MemorySaver

memory = MemorySaver()


agent_executor2 = create_react_agent(
    llm, 
    toolkit.get_tools(), 
    state_modifier=system_message,
    checkpointer=memory
)
config = {"configurable": {"thread_id": "1"}}

In [48]:
example_query = "якими книжками володіє Kraig Muller?"

events = agent_executor2.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
    config=config
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

якими книжками володіє Kraig Muller?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_EeQB0dQ77ZjdQ9x7SXpHTXnB)
 Call ID: call_EeQB0dQ77ZjdQ9x7SXpHTXnB
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_ea0rabSOT0gtpvPdE3ASQj1Q)
 Call ID: call_ea0rabSOT0gtpvPdE3ASQj1Q
  Args:
    table_names: author
  sql_db_schema (call_7rdFwrvfpGV7Nvmkb9TihxuF)
 Call ID: call_7rdFwrvfpGV7Nvmkb9TihxuF
  Args:
    table_names: book
  sql_db_schema (call_GbSVzKw53V815HLG3gTP3Qy3)
 Call ID: call_GbSVzKw53V815HLG3gTP3Qy3
  Args:
    table_names: users
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE users (
	id INTEGER,
	name TEXT NOT NULL,
	email TEXT NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (email)
)

/*
3 rows from users table:
id	name	email
1	John Doe	john@example.com
2	Jimmy Hendrix	jimmy@example.com
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_vNoTR5ZQGivvA8bJwB6YhbIG)
 Call ID: call_vNoTR5ZQGivvA8bJwB6YhbIG
  Args:
    query: SELECT book_name FROM book WHERE author = (SELECT author_id FROM author WHERE authorName = 'Kraig Muller')
================================= Tool Message =================================
Name: sql_db_query

[('Glimpses of the past',), ('Beyond The Horizons of Venus',)]
================================== Ai Message ==================================

Kraig Muller володіє такими книжками:

1. Glimpses of the past
2. Beyond The Horizons of Venus

In [49]:
example_query = "про що ми говорили?"

events = agent_executor2.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
    config=config
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

про що ми говорили?
================================== Ai Message ==================================

Ми говорили про книжки, якими володіє Kraig Muller. Я навів назви двох його книжок: "Glimpses of the past" та "Beyond The Horizons of Venus".

In [28]:
example_query = "який email в John Doe?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

який email в John Doe?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_brvAqGrhLFeXkVNDt8hrDZYK)
 Call ID: call_brvAqGrhLFeXkVNDt8hrDZYK
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_SsvK7HkEQwdSsGFKyEvyM02y)
 Call ID: call_SsvK7HkEQwdSsGFKyEvyM02y
  Args:
    table_names: author
  sql_db_schema (call_6otbwFPGMrH7YxOEzBbZiUfp)
 Call ID: call_6otbwFPGMrH7YxOEzBbZiUfp
  Args:
    table_names: book
  sql_db_schema (call_GM3N1ED0U4JbleQuMBSgBRqa)
 Call ID: call_GM3N1ED0U4JbleQuMBSgBRqa
  Args:
    table_names: users
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE users (
	id INTEGER,
	name TEXT NOT NULL,
	email TEXT NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (email)
)

/*
3 rows from users table:
id	name	email
1	John Doe	john@example.com
2	Jimmy Hendrix	jimmy@example.com
*/
================================== Ai Message ==================================

У John Doe email: **john@example.com**.

In [31]:
toolkit.get_context()

{'table_info': '\nCREATE TABLE author (\n\tauthor_id INTEGER, \n\t"authorName" VARCHAR(30), \n\temail TEXT(25), \n\tgender TEXT(6), \n\tPRIMARY KEY (author_id)\n)\n\n/*\n3 rows from author table:\nauthor_id\tauthorName\temail\tgender\n1\tKraig Muller\tWordnewton@gmail.com\tMale\n2\tKarrie Nicolette\tkarrie23@gmail.com\tFemale\n*/\n\n\nCREATE TABLE book (\n\t"BookId" INTEGER NOT NULL, \n\t"ISBN" INTEGER, \n\tbook_name TEXT(30) NOT NULL, \n\tauthor INTEGER, \n\ted_num INTEGER, \n\tprice INTEGER, \n\tpages INTEGER, \n\tPRIMARY KEY ("ISBN"), \n\tFOREIGN KEY(author) REFERENCES author (author_id) ON DELETE CASCADE, \n\tUNIQUE ("BookId")\n)\n\n/*\n3 rows from book table:\nBookId\tISBN\tbook_name\tauthor\ted_num\tprice\tpages\n1\t1\tGlimpses of the past\t1\t1\t650\t396\n2\t2\tBeyond The Horizons of Venus\t1\t1\t650\t396\n3\t3\tUltrasonic Aquaculture\t2\t1\t799\t500\n*/\n\n\nCREATE TABLE users (\n\tid INTEGER, \n\tname TEXT NOT NULL, \n\temail TEXT NOT NULL, \n\tPRIMARY KEY (id), \n\tUNIQUE (email)\n)\n\n/*\n3 rows from users table:\nid\tname\temail\n1\tJohn Doe\tjohn@example.com\n2\tJimmy Hendrix\tjimmy@example.com\n*/',
 'table_names': 'author, book, users'}

In [32]:
example_query = "яка книжка найдорожча?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

яка книжка найдорожча?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_BGAu4GREQN2zKvYDsB5vYl0u)
 Call ID: call_BGAu4GREQN2zKvYDsB5vYl0u
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_mRISyGb8GjrcNqmX0pH4rOK3)
 Call ID: call_mRISyGb8GjrcNqmX0pH4rOK3
  Args:
    table_names: book
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE book (
	"BookId" INTEGER NOT NULL,
	"ISBN" INTEGER,
	book_name TEXT(30) NOT NULL,
	author INTEGER,
	ed_num INTEGER,
	price INTEGER,
	pages INTEGER,
	PRIMARY KEY ("ISBN"),
	FOREIGN KEY(author) REFERENCES author (author_id) ON DELETE CASCADE,
	UNIQUE ("BookId")
)

/*
3 rows from book table:
BookId	ISBN	book_name	author	ed_num	price	pages
1	1	Glimpses of the past	1	1	650	396
2	2	Beyond The Horizons of Venus	1	1	650	396
3	3	Ultrasonic Aquaculture	2	1	799	500
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_Zw5LTxOsjy67egz4k4OBKEyi)
 Call ID: call_Zw5LTxOsjy67egz4k4OBKEyi
  Args:
    query: SELECT book_name, price FROM book ORDER BY price DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('Ultrasonic Aquaculture', 799)]
================================== Ai Message ==================================

Найдорожча книжка - "Ultrasonic Aquaculture", її ціна становить 799.

In [40]:
example_query = "дай мені список назв книжок та їхніх цін у вигляді таблиці "

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

дай мені список назв книжок та їхніх цін у вигляді таблиці
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_bctmqWuT1SJuo9Rp7tVjgfq8)
 Call ID: call_bctmqWuT1SJuo9Rp7tVjgfq8
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_MbivnXjgAm7hTqkHNQyBpnrJ)
 Call ID: call_MbivnXjgAm7hTqkHNQyBpnrJ
  Args:
    table_names: book
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE book (
	"BookId" INTEGER NOT NULL,
	"ISBN" INTEGER,
	book_name TEXT(30) NOT NULL,
	author INTEGER,
	ed_num INTEGER,
	price INTEGER,
	pages INTEGER,
	PRIMARY KEY ("ISBN"),
	FOREIGN KEY(author) REFERENCES author (author_id) ON DELETE CASCADE,
	UNIQUE ("BookId")
)

/*
3 rows from book table:
BookId	ISBN	book_name	author	ed_num	price	pages
1	1	Glimpses of the past	1	1	650	396
2	2	Beyond The Horizons of Venus	1	1	650	396
3	3	Ultrasonic Aquaculture	2	1	799	500
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_mdUvDzl1M73cLi88ZsxD1ATo)
 Call ID: call_mdUvDzl1M73cLi88ZsxD1ATo
  Args:
    query: SELECT book_name, price FROM book ORDER BY price ASC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('Cryogenic Engines', 499), ('Glimpses of the past', 650), ('Beyond The Horizons of Venus', 650), ('Ultrasonic Aquaculture', 799)]
================================== Ai Message ==================================

Ось список назв книжок та їхніх цін:

| Назва книжки                          | Ціна |
|---------------------------------------|------|
| Cryogenic Engines                     | 499  |
| Glimpses of the past                 | 650  |
| Beyond The Horizons of Venus         | 650  |
| Ultrasonic Aquaculture                | 799  |

In [69]:
import gradio as gr

def interactive_agent_loop():
    print("Інтерактивний режим спілкування з агентом. Введіть 'quit' або 'exit' для завершення.")
    while True:
        # Отримання user input
        user_query = input("Ви: ")
        
        # Перевірка виходу
        if user_query.lower() in ['quit', 'exit']:
            print("Завершення роботи.")
            break
        
        # Виконання запиту через agent_executor
        events = agent_executor2.stream(
            {"messages": [("user", user_query)]},
            stream_mode="values",
            config=config
        )
        
        for event in events:
            response = event["messages"][-1]
            response.pretty_print()
           
        

def create_gradio_interface():
    def agent_response(message, history):
        # Виконання запиту через agent_executor
        events = agent_executor2.stream(
            {"messages": [("user", message)]},
            stream_mode="values",
            config=config
        )
        full_response = ""
        # Збирання повної відповіді
        for event in events:
            response = event["messages"][-1]
            cleaned_response = response.content.replace(message, "", 1).strip()
            full_response += cleaned_response + '  '
        
        return full_response

    # Створення Gradio інтерфейсу
    iface = gr.ChatInterface(
        fn=agent_response,
        type="messages",
        title="Інтерактивний Агент",
        description="Чат з інтелектуальним агентом",
    )
    
    return iface

# Два варіанти використання:

In [43]:
# 1. Інтерактивний цикл у терміналі
interactive_agent_loop()

Інтерактивний режим спілкування з агентом. Введіть 'quit' або 'exit' для завершення.

Ви:  привіт  які в нас є таблиці та з якими колонками?

================================ Human Message =================================

привіт  які в нас є таблиці та з якими колонками?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_Wvk0IQbAwwc9y8ZBmyDa1N0o)
 Call ID: call_Wvk0IQbAwwc9y8ZBmyDa1N0o
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_7i8FxFsoYpGCT99b75WYRFrO)
 Call ID: call_7i8FxFsoYpGCT99b75WYRFrO
  Args:
    table_names: author
  sql_db_schema (call_FK7JKKLi16qC3rUPlW0O7N9J)
 Call ID: call_FK7JKKLi16qC3rUPlW0O7N9J
  Args:
    table_names: book
  sql_db_schema (call_PklNX8eSA87W4wiUsB0AhoVT)
 Call ID: call_PklNX8eSA87W4wiUsB0AhoVT
  Args:
    table_names: users
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE users (
	id INTEGER,
	name TEXT NOT NULL,
	email TEXT NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (email)
)

/*
3 rows from users table:
id	name	email
1	John Doe	john@example.com
2	Jimmy Hendrix	jimmy@example.com
*/
================================== Ai Message ==================================

У базі даних є три таблиці: **author**, **book** та **users**. Ось їхні колонки:

1. **author**
   - author_id (INTEGER, PRIMARY KEY)
   - authorName (VARCHAR(30))
   - email (TEXT(25))
   - gender (TEXT(6))

2. **book**
   - BookId (INTEGER, UNIQUE)
   - ISBN (INTEGER, PRIMARY KEY)
   - book_name (TEXT(30), NOT NULL)
   - author (INTEGER, FOREIGN KEY, посилається на author_id в таблиці author)
   - ed_num (INTEGER)
   - price (INTEGER)
   - pages (INTEGER)

3. **users**
   - id (INTEGER, PRIMARY KEY)
   - name (TEXT, NOT NULL)
   - email (TEXT, NOT NULL, UNIQUE)

Якщо вам потрібна додаткова інформація про ці таблиці, дайте знати!

Ви:  дай будь ласка перелік імен книжок таблиці book та кількість сторінок  дай це у вигляді таблиці

================================ Human Message =================================

дай будь ласка перелік імен книжок таблиці book та кількість сторінок  дай це у вигляді таблиці
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_7pw9x36nw9TCyqy74jK2Zx4A)
 Call ID: call_7pw9x36nw9TCyqy74jK2Zx4A
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

author, book, users
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_n0Co5QDWSF5x0ejgn1kgxrya)
 Call ID: call_n0Co5QDWSF5x0ejgn1kgxrya
  Args:
    table_names: book
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE book (
	"BookId" INTEGER NOT NULL,
	"ISBN" INTEGER,
	book_name TEXT(30) NOT NULL,
	author INTEGER,
	ed_num INTEGER,
	price INTEGER,
	pages INTEGER,
	PRIMARY KEY ("ISBN"),
	FOREIGN KEY(author) REFERENCES author (author_id) ON DELETE CASCADE,
	UNIQUE ("BookId")
)

/*
3 rows from book table:
BookId	ISBN	book_name	author	ed_num	price	pages
1	1	Glimpses of the past	1	1	650	396
2	2	Beyond The Horizons of Venus	1	1	650	396
3	3	Ultrasonic Aquaculture	2	1	799	500
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_ik8vzdw0DTgXcpvA2BY2GGjj)
 Call ID: call_ik8vzdw0DTgXcpvA2BY2GGjj
  Args:
    query: SELECT book_name, pages FROM book LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('Glimpses of the past', 396), ('Beyond The Horizons of Venus', 396), ('Ultrasonic Aquaculture', 500), ('Cryogenic Engines', 330)]
================================== Ai Message ==================================

Ось перелік імен книжок та кількість сторінок у вигляді таблиці:

| Назва книжки                          | Кількість сторінок |
|---------------------------------------|---------------------|
| Glimpses of the past                 | 396                 |
| Beyond The Horizons of Venus         | 396                 |
| Ultrasonic Aquaculture                | 500                 |
| Cryogenic Engines                     | 330                 |

Ви:  exit

Завершення роботи.

In [53]:
interactive_agent_loop()

Інтерактивний режим спілкування з агентом. Введіть 'quit' або 'exit' для завершення.

Ви:  скільки в нас авторів з author?

================================ Human Message =================================

скільки в нас авторів з author?
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_bq1Zq7isxduYGwH7NSl6UT5D)
 Call ID: call_bq1Zq7isxduYGwH7NSl6UT5D
  Args:
    query: SELECT COUNT(*) AS total_authors FROM author
================================= Tool Message =================================
Name: sql_db_query

[(2,)]
================================== Ai Message ==================================

У нас є 2 автори в таблиці "author".

Ви:  скільки юзерів з users

================================ Human Message =================================

скільки юзерів з users
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_XuYtk9XRPPQCibJn3DHhLLJY)
 Call ID: call_XuYtk9XRPPQCibJn3DHhLLJY
  Args:
    query: SELECT COUNT(*) AS total_users FROM users
================================= Tool Message =================================
Name: sql_db_query

[(2,)]
================================== Ai Message ==================================

У нас є 2 користувачі в таблиці "users".

Ви:  які в них імена

================================ Human Message =================================

які в них імена
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_5OU1Bjq0nvdszcMaAE0nckNA)
 Call ID: call_5OU1Bjq0nvdszcMaAE0nckNA
  Args:
    query: SELECT name FROM users
================================= Tool Message =================================
Name: sql_db_query

[('John Doe',), ('Jimmy Hendrix',)]
================================== Ai Message ==================================

Імена користувачів у нас такі:

1. John Doe
2. Jimmy Hendrix

Ви:  учше

================================ Human Message =================================

учше
================================== Ai Message ==================================

Дякую! Якщо у вас є ще питання або потрібна допомога, не соромтеся звертатися!

Ви:  exit

Завершення роботи.

In [70]:
# 2. Gradio інтерфейс
iface = create_gradio_interface()
iface.launch(inline=True, share=True)

Running on local URL:  http://127.0.0.1:7868

C:\Users\user\anaconda3\Lib\site-packages\gradio\analytics.py:106: UserWarning: IMPORTANT: You are using gradio version 4.44.0, however version 4.44.1 is available, please upgrade.
--------
  warnings.warn(

Running on public URL: https://40d0e24f55a6652d3a.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)